$main-color: #18347e;
$light-main-color: rgba(24, 52, 126, 0.7);
$lightly-main-color: #275ff8;

$bg-color: #e5e5e5;
// dashboard
$dash-bg: #ffffff;
$light-dash: #b4b4b4;
$dash-text-color: black;
$dash-main-color: #18347e;
